<h3 cpsAdPageHeader>{{ "ORG.MANAGEMENT" | translate }}</h3>
<!-- <cps-ad-organization-menu (onClickAdd)="addOrganization($event)"></cps-ad-organization-menu> -->
<div *ngIf="selectedOrganization || isAddingOrganization">
    <cps-ad-organization-editor [organization]="selectedOrganization"
                                (cancelEditor)="cancelEditor($event)">
    </cps-ad-organization-editor>
</div>
congtest {{ organizations.length }}
<cp-sh-side-panel>abc</cp-sh-side-panel>
<span #congtestspan></span>
<button (click)="congtestParentClick()">Test click</button>
<cps-ad-organization-list *ngIf="organizations.length"
                          [organizations]="organizations"
                          (onClickName)="onEditOrganization($event)"
                          (editItemFired)="onEditOrganization($event)"></cps-ad-organization-list>
