<div>
    <h3>organization-info</h3>
    <form class="form-horizontal" [formGroup]="editorForm">
        <div class="row form-group">
            <div class="col-md-6">
                <label for="og-name">name</label>
                <input type="text" class="form-control" id="og-name" formControlName="name" />
                <div [hidden]="editorForm.get('name').valid || editorForm.get('name').pristine" class="alert alert-danger">
                    organization-name-is-required
                </div>
            </div>
            <div class="col-md-6">
                <label for="og-address">address</label>
                <input type="text" class="form-control" id="og-address" formControlName="address" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label for="og-description">description</label>
                <input type="text" class="form-control" id="og-description" formControlName="description" />
            </div>
        </div>
        <div class="row form-group">
            <div class="btn-group pull-right">
                <button class="btn">Cancel</button>
                <button class="btn btn-primary" [disabled]="editorForm.status === 'INVALID'" (click)="save()">Save</button>
            </div>
        </div>
    </form>
</div>
<p>TODO {{ editorForm.value | json }}</p>
<p>TODO {{ editorForm.status | json }}</p>