<div cpsAdPageHeader>organization-management</div>
<div cpsAdPageActionBar>
    <ul class="list-inline">
        <li class="list-inline-item">
            <i class="fa fa-plus" aria-hidden="true"></i>
            add
        </li>
        <li class="list-inline-item">
            <i class="fa fa-trash" aria-hidden="true"></i>
            delete
        </li>
    </ul>
</div>
<div>
    <h3>organization-info</h3>
    <form class="form-horizontal" name="organizationForm">
        <div class="row form-group">
            <div class="col-md-6">
                <label for="og-name">name</label>
                <input type="text" class="form-control" id="og-name" />
            </div>
            <div class="col-md-6">
                <label for="og-address">address</label>
                <input type="text" class="form-control" id="og-address" />
            </div>
        </div>
    </form>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Organization Name</th>
            <th>Address</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let organization of organizations">
            <td>{{ organization.name }}</td>
            <td>{{ organization.address }}</td>
            <td>{{ organization.description }}</td>
        </tr>
    </tbody>
</table>