congtest {{ shortcutMenu }}
<div class="dropdown" *ngIf="shortcutMenu && shortcutMenu.items.length">
    <button class="" data-toggle="dropdown">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu">
        <li *ngFor="let item of shortcutMenu.items">
            <span (click)="onClickMenuItem(item)">abc {{ item | json }}</span>
        </li>
    </ul>
</div>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
    </button>
    <button mat-menu-item *ngFor="let item of shortcutMenu.items" (click)="onClickMenuItem(item)">
        <mat-icon>notifications_off</mat-icon>
        <span>{{ item.text }} {{ item | json }}</span>
    </button>
</mat-menu>
