:root {
    --icon-button-hover-background-color: whitesmoke;
    --table-border-color: #dee2e6;
    --table-heading-color: red;
    --table-tr-hover-background-color: rgba(0, 0, 0, 0.075);
    --table-tr-hover-color: #212529;
}
