:root {
    --button-line-height: 40px;
    --font-size: 16px;
    --general-padding-left: 0.75rem;
    --general-padding-right: 0.75rem;
    --table-heading-font-size: 1.1rem;
    --table-padding-bottom: 0.5rem;
    --table-padding-left: 0.75rem;
    --table-padding-right: 0.75rem;
    --table-padding-top: 0.5rem;
}
