<table mat-table [dataSource]="dataset">
    <ng-container matColumnDef="{{ displayedColumns[0] }}">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element[displayedColumns[0]] }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

congtest {{ shortcutMenu | json }}
<table mat-table [dataSource]="dataset">
    <ng-container *ngFor="let column of columns" matColumnDef="{{ column.key }}">
        <th mat-header-cell *matHeaderCellDef>No. (old) {{ column.heading.value }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column.content.propertyName] }}
            <cp-sh-shortcut-menu [shortcutMenu]="shortcutMenu"></cp-sh-shortcut-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="sh-table">
    <div class="sh-table__head">
        <div class="sh-table__tr">
            <div *ngFor="let column of columns; index as i"
                 class="sh-table__cell">{{ getHeading(i) }}</div>
            <div *ngIf="shortcutMenu" class="sh-table__cell"></div>
        </div>
    </div>
    <div class="sh-table__tbody">
        <div *ngFor="let datarow of dataset; index as i"
             class="sh-table__tr">
            <div *ngFor="let column of columns; index as j"
                 class="sh-table__cell">{{ getCellContent(i, j) }}</div>
            <ng-container *ngIf="shortcutMenu">
                <div class="sh-table__cell action-button-container dropdown">
                    <button class="sh-table__action-button-in-cell" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let menuItem of shortcutMenu.items;">
                            <span (click)="clickMenuItem(menuItem)">{{ menuItem.text }}</span>
                        </li>
                    </ul>
                </div>
            </ng-container>
        </div>
    </div>
</div>
