<ul class="nav nav-tabs">
    <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="dashboard">{{ "CM.DASHBOARD" | translate }}</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="input">{{ "FI.INPUT-CASH" | translate }}</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="output">{{ "FI.OUTPUT-CASH" | translate }}</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="settings">{{ "CM.SETTINGS" | translate }}</a>
    </li>
</ul>