<ul class="nav nav-tabs">
    <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="dashboard">{{ "common.dashboard" | translate }}</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="input">{{ "fi.input-cash" | translate }}</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="output">{{ "fi.output-cash" | translate }}</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="settings">{{ "common.settings" | translate }}</a>
    </li>
</ul>